        </div><!-- /.container -->
        <footer class="footer">
          <div class="container">
            <div id="copyright" class="container">
            <p class="text-muted">&copy; Quickru 2021 | <a href="/orders">Home</a> | <a href="/orders/new">New order</a> Design by: <a href="http://vk.com/Im_Alek" rel="nofollow">Λl≡k</a>. </p>
          </div>
        </div>
        </footer>
        
        
    </body>
</html>

