
<% include ./partials/header %>


<div id="header-block">
    <ul>
    <li class="current_page_item" onclick="history.back();"><a>← back</a></li><h3 style="color: red;">ТОЛЬКО ДЛЯ ТЕСТА!</h3>
    </ul>
</div>
<div id="wrapper">
	<div class="box-wrapper">
			<div class="wrapper-title">
				<h2>Tipo 4toto o nas</h2>
                <span class="byline" style="color:darkgoldenrod;"><a>text text text text text text text !</a></span>
            </div>
        <h2>text text text text text text text !</h2>
        <h2>text text text text text text text !</h2>
        <h2>text text text text text text text !</h2>
        <h2>text text text text text text text !</h2>
        <h2>text text text text text text text !</h2>
    </div>
</div>



<% include ./partials/footer %>

