<% include ./partials/header %>

    <div id="header-block"><ul>
        <li class="current_page_item" onclick="history.back();"><a>← back </a></li><h3 style="color: red;">ТОЛЬКО ДЛЯ ТЕСТА!</h3>
    </ul></div>
<!-- Wrapper customer -->

<div id="wrapper">
	<div class="Box-wrapper">
        <div class="wrapper-title">
			<div class="main-title">
				<h2>Zakaz4ik</h2>
                <span class="byline">hello</span>
             </div>
             <div class="wrapper-title"></div>
        </div>
    </div>
</div>
             

<% include ./partials/footer %>