<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>QuickRU</title>
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>

		<div id="landing-header">
			<h3 style="color: red;">ТОЛЬКО ДЛЯ ТЕСТА!</h3>
			<h1>Welcome to Quickru!</h1>
			
			<div class="form-group"><a href="/orders" class="form-button" style="text-decoration: none;">Get Started</a></span></div>
		</div>

		<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		
	</body>
</html>